<section id="educacion" class="education-section">
      <div class="container">
        <h2>Educación</h2>

        <div class="carousel-wrapper">
          <div class="education-carousel">
            <div class="edu-entry">
              <h3>Licenciatura en sistemas</h3>
              <h4>
                Universidad de la Ciudad de Buenos Aires | Agosto 2025 - En
                curso
              </h4>
              <p>Tipo: Universitario</p>
              <p>Aprendizaje: Algoritmos y análisis matemático.</p>
            </div>

            <div class="edu-entry">
              <h3>Técnico Universitario en Programación (Terminado)</h3>
              <h4>Universidad Tecnológica Nacional (UTN FRGP) | 2022 - 2024</h4>
              <p>Tipo: Universitario</p>
              <p>
                Aprendizaje: C++, C# (.NET Framework), Java, MySQL, SQL Server,
                PostgreSQL, MongoDB (NoSQL).
              </p>
            </div>

            <div class="edu-entry">
              <h3>Desarrollo Web FrontEnd Web Developer! (Terminado)</h3>
              <h4>Udemy | Enero 2024 - Diciembre 2024</h4>
              <p>Tipo: Curso Web</p>
              <p>Aprendizaje: Css, Html y JavaScript.</p>
            </div>

            <div class="edu-entry">
              <h3>Secundario en Bachillerato en Economía</h3>
              <h4>
                Escuela de Comercio No. 15 D.E 15 "Dra.Cecilia Grierson" | Marzo
                2014 - Diciembre 2021
              </h4>
              <p>Tipo: Secundario</p>
              <p>Aprendizaje: Secundario y Economía.</p>
            </div>
          </div>
          <button
            class="carousel-nav-btn left-btn edu-left-btn"
            aria-label="Anterior educación"
          >
            &#10094;
          </button>
          <button
            class="carousel-nav-btn right-btn edu-right-btn"
            aria-label="Siguiente educación"
          >
            &#10095;
          </button>
        </div>
      </div>
    </section>