<section id="Proyectos destacados" class="projects-section">
      <div class="container">
        <h2>Proyectos destacados</h2>

        <div class="carousel-wrapper">
          <div class="projects-carousel">
            <div class="project-card">
              <img
                src="proyectos/Sistema_Ventas.png"
                alt="Imagen del Proyecto 1"
                class="project-image"
              />
              <h3>Sistema de ventas</h3>
              <p class="project-desc">
                Desarrollé un sistema completo para la administración de
                negocios, que permite controlar ventas, generar facturas y
                gestionar datos de clientes. Para ello, implementé operaciones
                CRUD, diseñé y creé una base de datos y su conexión entre el
                backend.
              </p>
              <br />
              <p class="tech-stack">Tecnologías: C#, Sql Server y .Net</p>
              <div class="project-links">
                <a
                  href="https://github.com/Jean5011/Sistema-Venta.git"
                  target="_blank"
                  aria-label="GitHub"
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                  "
                >
                  <img
                    src="redes/git.ico"
                    alt="Icono de GitHub"
                    class="contact-icon-img"
                  />
                  <p>Ver codigo</p>
                </a>
                <!--<a href="#" class="ver-mas-link">
                                Ver más
                            </a>-->
              </div>
            </div>

            <div class="project-card">
              <img
                src="proyectos/pROYECT_pROSUPUESTO.png"
                alt="Imagen del Proyecto 2"
                class="project-image"
              />
              <h3>Proyecto presupuesto</h3>
              <p class="project-desc">
                Proyecto web de presupuestos para registrar y controlar ingresos
                y gastos. Es un proyecto de práctica donde el principal objetivo
                fue fortalecer mis habilidades en Frontend, implementando
                también funcionalidades básicas de Backend para darle vida a la
                aplicación.
              </p>
              <br />
              <p class="tech-stack">Tecnologías: JavaScript, HTML y CSS</p>
              <div class="project-links">
                <a
                  href="https://github.com/Jean5011/proyecto-presupuesto.git"
                  target="_blank"
                  aria-label="GitHub"
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                  "
                >
                  <img
                    src="redes/git.ico"
                    alt="Icono de GitHub"
                    class="contact-icon-img"
                  />
                  <p>Ver codigo</p>
                </a>
                <!--<a href="#" class="ver-mas-link">
                                Ver más
                            </a>-->
              </div>
            </div>

            <div class="project-card">
              <img
                src="proyectos/Tienda_de_mascotas.png"
                alt="Imagen del Proyecto 3"
                class="project-image"
              />
              <h3>Tienda de mascotas</h3>
              <p class="project-desc">
                Proyecto web universitario grupal en el cual se gestionan las
                ventas, productos, clientes y empleados de una tienda de
                mascotas en la cual despues vendimos. Mi contribución se centró
                en implementar las operaciones CRUD completas para las secciones
                de Productos y Clientes, además crear la base de datos.
              </p>
              <br />
              <p class="tech-stack">
                Tecnologías: asp.net, sql server, c#, html y css
              </p>
              <div class="project-links">
                <a
                  href="https://github.com/Jean5011/Tienda_de_mascotas_web.git"
                  target="_blank"
                  aria-label="GitHub"
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                  "
                >
                  <img
                    src="redes/git.ico"
                    alt="Icono de GitHub"
                    class="contact-icon-img"
                  />
                  <p>Ver codigo</p>
                </a>
                <!--<a href="#" class="ver-mas-link">
                                Ver más
                            </a>-->
              </div>
            </div>

            <div class="project-card">
              <img
                src="proyectos/Banco.png"
                alt="Imagen del Proyecto 4"
                class="project-image"
              />
              <h3>Proyecto banco</h3>
              <p class="project-desc">
                Proyecto web grupal de un sistema de bancos. Participé en el
                desarrollo de un proyecto universitario donde colaboré
                activamente en la creación de la base de datos, la
                implementación de los CRUD para la gestión de clientes y el
                diseño de diversas interfaces de usuario.
              </p>
              <br />
              <p class="tech-stack">
                Tecnologías: Mysql , Java , JavaScript, HTML y CSS
              </p>
              <div class="project-links">
                <a
                  href="https://github.com/Jean5011/Proyecto-banco.git"
                  target="_blank"
                  aria-label="GitHub"
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                  "
                >
                  <img
                    src="redes/git.ico"
                    alt="Icono de GitHub"
                    class="contact-icon-img"
                  />
                  <p>Ver codigo</p>
                </a>
                <!--<a href="#" class="ver-mas-link">
                                Ver más
                            </a>-->
              </div>
            </div>

            <div class="project-card">
              <img
                src="proyectos/j_serpiente.png"
                alt="Imagen del Proyecto 5"
                class="project-image"
              />
              <h3>Juego de la serpiente</h3>
              <p class="project-desc">
                Desarrollé el clásico juego de la serpiente para repasar y
                fortalecer mis conocimientos fundamentales de programación. El
                objetivo del juego es controlar la serpiente para que coma la
                mayor cantidad de manzanas posible, haciendo que crezca
                progresivamente mientras evitas chocar contra los obstáculos o
                contra ti misma.
              </p>
              <br />
              <p class="tech-stack">Tecnologías: .net y c#</p>
              <div class="project-links">
                <a
                  href="https://github.com/Jean5011/SnakeGame.git"
                  target="_blank"
                  aria-label="GitHub"
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                  "
                >
                  <img
                    src="redes/git.ico"
                    alt="Icono de GitHub"
                    class="contact-icon-img"
                  />
                  <p>Ver codigo</p>
                </a>
                <!--<a href="#" class="ver-mas-link">
                                Ver más
                            </a>-->
              </div>
            </div>

            <div class="project-card">
              <img
                src="proyectos/concecionario.jpg"
                alt="Imagen del Proyecto 6"
                class="project-image"
              />
              <h3>Concesionario</h3>
              <p class="project-desc">
                Proyecto web universitario grupal de un sistema de una
                consesionaria. Incluye el ingreso y visualización de datos de
                clientes y empleados y registro de ventas. Este proyecto
                representó mi primera inmersión en el mundo de la programación,
                donde aprendí y apliqué algoritmos fundamentales y los
                principios de la programación orientada a objetos.
              </p>
              <br />
              <p class="tech-stack">Tecnologías: C++</p>
              <div class="project-links">
                <a
                  href="https://github.com/Jean5011/Concesionario_final.git"
                  target="_blank"
                  aria-label="GitHub"
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                  "
                >
                  <img
                    src="redes/git.ico"
                    alt="Icono de GitHub"
                    class="contact-icon-img"
                  />
                  <p>Ver codigo</p>
                </a>
                <!--<a href="#" class="ver-mas-link">
                                Ver más
                            </a>-->
              </div>
            </div>
          </div>

          <button
            class="carousel-nav-btn left-btn"
            aria-label="Anterior proyecto"
          >
            &#10094;
          </button>
          <button
            class="carousel-nav-btn right-btn"
            aria-label="Siguiente proyecto"
          >
            &#10095;
          </button>
        </div>
      </div>
    </section>