<section id="skills" class="skills-section">
      <div class="container">
        <h2>Skills</h2>

        <div class="skills-container-wrapper">
          <div class="technical-skills-column">
            <div class="skills-group">
              <h3>Lenguajes y Tecnologías</h3>
              <ul class="tech-skills">
                <li>C++</li>
                <li>C#</li>
                <li>Java</li>
                <li>JavaScript</li>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
              </ul>
            </div>

            <div class="skills-group">
              <h3>Bases de Datos</h3>
              <ul class="tech-skills">
                <li>MySQL</li>
                <li>SQL Server</li>
                <li>PostgreSQL</li>
                <li>MongoDB (NoSQL)</li>
              </ul>
            </div>

            <div class="skills-group">
              <h3>Herramientas y Frameworks</h3>
              <ul class="tech-skills">
                <li>Git</li>
                <li>.Net</li>
                <li>Asp.Net</li>
                <li>Maven</li>
                <li>Microsoft Office 360</li>
              </ul>
            </div>
          </div>

          <div class="soft-skills-column">
            <div class="skills-group soft-skills">
              <h3>Habilidades Blandas</h3>
              <ul>
                <li>Adaptabilidad</li>
                <li>Autonomía</li>
                <li>Capacidad de Aprendizaje</li>
                <li>Atención al Cliente</li>
                <li>Resolución de Problemas</li>
                <li>Compromiso</li>
                <li>Tolerancia al Estrés</li>
                <li>Trabajo en Equipo</li>
                <li>Comunicación Efectiva</li>
                <li>Análisis de problemas</li>
                <li>Colaboración</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>