<section id="sobre-mi" class="hero-section">
  <div class="container">
    <div class="hero-image-column">
      <img
        src="sobre mi/perfil.png"
        alt="Jean Pierre Esquen - Desarrollador"
        class="profile-hero-image"
      />
    </div>
    <div class="profile-info">
      <h2 class="hero-title">Jean Pierre Esquen</h2>
      <h3 class="hero-subtitle">
        Software Developer <span class="highlight">|</span> Tec. en Programación <span class="highlight">|</span> Estudiante de Lic. en Ciencia de Datos
      </h3>
      <p class="hero-description">
        Soy Técnico Universitario en Programación por la UTN, apasionado por
        construir soluciones tecnológicas que transformen datos en decisiones
        estratégicas. Mi trayectoria se ha centrado en el desarrollo de software
        robusto, especializándome en arquitecturas escalables y gestión
        eficiente de bases de datos. Actualmente, curso la Licenciatura en
        Ciencia de Datos para potenciar mi capacidad analítica y fusionar la
        ingeniería de software con el modelado predictivo y el análisis avanzado
        de información.
      </p>
      <div class="hero-actions">
          <a href="sobre mi/CV_Jean_Esquen.pdf" download class="btn-primary"
            >Descargar CV</a
          >
      </div>
    </div>
  </div>
</section>
